In [2]:
import pandas as pd

df = pd.read_csv("datasets/vehicles.csv")
city_map = df.city08
highway_mpg = df.highway08

/var/folders/5n/fzsd06t551zd8cs7vll9gsjw0000gn/T/ipykernel_1917/1247611163.py:3: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/vehicles.csv")

In [3]:
df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [11]:
# pandas series

songs2 = pd.Series([145, 142, 38, 13], name = 'counts')
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [7]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
songs3 = pd.Series([145, 142, 38, 13], name = 'counts', index=['Paul', 'John', 'George', 'Ringo'])

In [9]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [15]:
import numpy as np
nan_series = pd.Series([2, np.nan], index=['Ono', 'Clapton'])
nan_series

Ono        2.0
Clapton    NaN
dtype: float64

In [16]:
nan_series.count()

1

In [18]:
nan_series.size

2